.card_imgage > img {
    max-height: 200px;
    width: 200px;
    justify-content: center;
    object-fit: contain;
    margin-bottom: 15px;
}

.card_text {
    text-align: center;
    margin-top: 15px;
}

.col-4 {
    padding: 15px;
}
