
.App {
  text-align: center; 
  background-image: url('../public/background.png');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .Nav {
} */

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(226, 225, 225);
  }

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .Home {
  text-align: center; 
  background-image: url('../public/background.png');
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.Home-header {
  font-size: 8rem;
  color: rgb(218, 218, 218);
  text-align: center;
  } */


